<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
  <div class="container-fluid p-3 bg-success text-white text-center">
    <h2>Habit Reminder</h2>
    <p>Track your habbits effectively!</p> 
  </div>
  <div class="container mt-5">
    <div class="row">
      
      <div class="col-sm-4">
        <form action="../home/home.component.html" autocomplete="off">
          <div class="mb-3 mt-3">
            <div class="mb-3 mt-3">
                <label for="username">UserName:</label>
                <input type="text" class="form-control" required id="username" placeholder="Enter username" name="username">
              </div> 
            <label for="email">Email:</label>
            <input type="email" class="form-control" required id="email" placeholder="Enter email" name="email">
          </div>
          <div class="mb-3 mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" required id="password" placeholder="Enter password" name="password">
          </div>
          <div class="mb-3">
            <label for="tel">Phone Number:</label>
            <input type="tel" class="form-control"  id="tel" placeholder="Enter phone number" name="tel">
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-success btn-lg">Sign Up</button>
        </form>
      </div>
      <div class="col-sm-8">
        <h2>Description</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        
     </div>
    </div>
  </div>

  

<!-- Cardd -->
           
            

    </div>
  </div>
</div>

</body>
</html>
