<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- CSS Stylesheets -->
  <style>
    body {
      background-color: #f8efef;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-success bg-success">
    <div class="container-fluid">
      <a class="navbar-brand text-white">Habit Reminder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" style="background-color: white;">
        <span class="navbar-toggler-icon">M</span>
      </button> 
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="../login/login.component.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="../sign-up/sign-up.component.html">Signup</a>
          </li>
        </ul>
        </div>
    </div>
  </nav>

  <!-- Body -->
  <section id="body">
    <div class="container-fluid pt-5">
      <div class="card" style="width: 18rem;margin-left:38%;">
        <img class="card-img-top" src="C:\Users\S542423\my-app\src\assets\image\Handwashing-Web.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hand Wash</h5>
          <p class="card-text"> You need to wash your hands
        </div>
      </div>
    </div>

  </section>



</body>

</html>